body{
    background-color: #083b4c;
}


.red{
    background-color: #f0466f;
}

.green{
    background-color: #0bd6a1;
}

.yellow{
    background-color: #ffd166;
}

.blue{
    background-color: #1389b2;
}

.display{
    display: inline-block;
}