body{
    background-color: #083b4c;
}


.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.display{
    display: inline-block;
}